#container {
  background-color: #ccc;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
}

.content {
  background-color: #727272;
  margin: 15px;
  color:white;

  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.hidden {
  display: none;
  visibility: hidden;
}