body {
  background-color: lavender;
  font-family: sans-serif;
}

h1 {
  color: indigo;
  text-align: center;
}

h2 {
  color: mediumpurple;
  text-align: center;
}

p {
  color: rebeccapurple;
  text-align: justify;
  line-height: 1.5;
}
